    <mtapp:setting
        id="editor_style_css"
        label="editor_style.css:">
    <ul>
    <li><input type="text" id="editor_style_css" name="editor_style_css" value="<mt:var name="editor_style_css" escape="html">" /></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="theme_advanced_buttons1"
        label="advanced_buttons1:">
    <ul>
    <li><textarea id="theme_advanced_buttons1" name="theme_advanced_buttons1"><mt:var name="theme_advanced_buttons1" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="theme_advanced_buttons2"
        label="advanced_buttons2:">
    <ul>
    <li><textarea id="theme_advanced_buttons2" name="theme_advanced_buttons2"><mt:var name="theme_advanced_buttons2" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="theme_advanced_buttons3"
        label="advanced_buttons3:">
    <ul>
    <li><textarea id="theme_advanced_buttons3" name="theme_advanced_buttons3"><mt:var name="theme_advanced_buttons3" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="theme_advanced_buttons4"
        label="advanced_buttons4:">
    <ul>
    <li><textarea id="theme_advanced_buttons4" name="theme_advanced_buttons4"><mt:var name="theme_advanced_buttons4" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="theme_advanced_buttons5"
        label="advanced_buttons5:">
    <ul>
    <li><textarea id="theme_advanced_buttons5" name="theme_advanced_buttons5"><mt:var name="theme_advanced_buttons5" escape="html"></textarea></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="editor_skin"
        label="<__trans phrase="Skin">">
    <ul>
    <li><input type="checkbox" id="editor_skin" name="editor_skin" value="1"<mt:if name="editor_skin"> checked="checked"</mt:if> style="vertical-align:middle" /> <__trans phrase="Enable"></li>
    </ul>
    </mtapp:setting>
