    <mtapp:setting
        id="editor_style_css"
        label="editor_style.css:">
    <ul>
    <li><input type="text" id="editor_style_css" name="editor_style_css" value="<mt:var name="editor_style_css" escape="html">" /></li>
    </ul>
    </mtapp:setting>
